body {
    font-family: Proximus-Light, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0fb4ff;
    color: white;
    padding: 0.2em;
    height: 160px;
    text-align: center;
    font-size : 20px;
}

header h1 {
  color: white;
}

nav {
    margin-top: 0;
}

.header-box {
  display : flex;
  padding: 0 1em 0;
  gap : 1em;
  justify-content: center;
}

.box {
  background-color : #0294d7;
  border-radius: 13px 5px;
  text-align: center;
  height: 30px;
  color: white;
}

.box:hover {
  background-color: white;
}

.box a:hover {
  color: black;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 2em;
    text-align: center;
    font-size: 30px;
}

h1 {
    color: #4CAF50;
}

.features {
    display: flex;
    font-size: 25px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 2em;
}

.feature {
    background: white;
    border-radius: 8px;
    padding: 1.5em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 400px;
    height: 250px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #222;
    color: white;
    margin-top: 3em;
}

